html,
body,
#root {
  height: 100%;
}

@media screen and (min-width: 64rem) {
  .pf-chatbot--embedded .pf-chatbot__messagebox {
    width: 100%;
  }
}

.pf-v6-c-page__main,
pf-v6-c-page__main-container.pf-m-fill {
  overflow-y: hidden;
}

.active {
  background-color: var(--pf-t--global--background--color--primary--default);
}

.assistant-selector-menu {
  max-width: 60vw;
  max-height: 80vh;
  overflow-y: auto;
}

.compare {
  display: flex;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 900px) {
    overflow-y: auto;
  }

  .compare-item:first-of-type {
    border-right: 1px solid var(--pf-t--global--border--color--default);

    @media screen and (max-width: 900px) {
      border-right: 0px;
    }
  }

  .compare-item {
    flex: 1;

    .pf-chatbot--embedded .pf-chatbot__messagebox {
      width: 100%;
    }

    .pf-chatbot__content {
      padding: 0;
    }
  }
}

.compare-mobile-controls {
  padding: var(--pf-t--global--spacer--md) var(--pf-t--global--spacer--lg) 0 var(--pf-t--global--spacer--lg);
  display: none;
  background-color: var(--pf-t--global--background--color--secondary--default);
  position: sticky;
  top: 0;
  z-index: 9999; /*fixme*/

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    gap: var(--pf-t--global--spacer--md);
  }
}

.compare-item {
  .pf-chatbot.pf-chatbot--embedded {
    @media screen and (max-width: 900px) {
      height: 100%;
    }
  }
}
.compare-item-hidden {
  display: block;

  @media screen and (max-width: 900px) {
#page-sidebar {
  overflow: visible;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.flyout-header {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.flyout-menu {
  padding: var(--pf-t--global--spacer--md);
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 100%;
  width: 25vw;
  background: green;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    width: 100%;
    left: 0;
  }
}

.start-screen {
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--md);
  justify-content: center;
  align-items: center;
  flex: 1;

  h1 {
    font-weight: 500;
    font-size: var(--pf-t--global--font--size--heading--h3);
  }
}

.start-screen-text {
  text-align: center;
}

.start-screen-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--pf-t--global--spacer--sm);
}

.pf-v6-c-masthead {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

<<<<<<< HEAD
.compare-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  .pf-chatbot__footer {
    position: sticky;
    bottom: 0;
  }
}

.compare-toggle {
  width: 100%;

  .pf-v6-c-toggle-group__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.chatbot-ui-page {
  .pf-v6-c-page__main {
    overflow: hidden;
  }
  @media screen and (max-width: 900px) {
    --pf-v6-c-page__main-container--MaxHeight: 100%;
  }
  .pf-v6-c-page__main-container {
    @media screen and (min-width: 1024px) {
      border-top: 0px;
    }
    @media screen and (max-width: 900px) {
      --pf-v6-c-page__main-container--MarginInlineStart: 0;
      --pf-v6-c-page__main-container--MarginInlineEnd: 0;
      --pf-v6-c-page__main-container--BorderWidth: 0;
      --pf-v6-c-page__main-container--BorderColor: initial;
      --pf-v6-c-page__main-container--BorderRadius: none;
    }
=======
.sidebar-masthead {
  padding: var(--pf-t--global--spacer--md);
  @media screen and (max-width: 1199px) {
    display: none;
>>>>>>> 7a2382f (Start investigating panel)
  }
}

.pf-chatbot__message.pf-chatbot__message--user {
  img {
    border: 1px solid var(--pf-t--global--border--color--default);
  }
}

.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pf-t--global--spacer--md);
  padding: var(--pf-t--global--spacer--md);

  @media screen and (max-width: 1025px) {
    padding: var(--pf-t--global--spacer--md);
  }

  .login-page__text {
    max-width: 50rem;
    text-align: center;
  }
  .login-page__button {
    margin-top: var(--pf-t--global--spacer--md);
  }
}

.error-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pf-t--global--spacer--md);

  .error-page__image {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1025px) {
      align-items: initial;
      justify-content: initial;
    }
  }

  .error-page__main-layout {
    display: flex;
    gap: var(--pf-t--global--spacer--xl);

    @media screen and (max-width: 1025px) {
      flex-direction: column;
      gap: var(--pf-t--global--spacer--sm);
    }
  }

  .error-page__text-and-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--pf-t--global--spacer--md);
    border-left: 1px solid var(--pf-t--global--border--color--default);
    padding: 0 var(--pf-t--global--spacer--xl) 0 var(--pf-t--global--spacer--xl);

    @media screen and (max-width: 1025px) {
      border-left: 0;
      padding: 0;
    }
  }

  .error-page__error-code {
    color: var(--pf-t--global--text--color--subtle);
    font-size: var(--pf-t--global--font--size--xs);
    font-family: var(--pf-t--global--font--family--mono);
  }

  .error-page__text {
    max-width: 30rem;
    h1 {
      font-size: var(--pf-t--global--font--size--heading--h2);
      margin-bottom: var(--pf-t--global--spacer--sm);
      font-family: var(--pf-t--chatbot--heading--font-family);
    }
    p {
      font-size: var(--pf-t--global--font--size--md);
      font-family: var(--pf-t--global--font--family--body);
    }
  }

  .error-page__buttons {
    display: flex;
    gap: var(--pf-t--global--spacer--sm);
    flex-wrap: wrap;
  }
}
