html,
body,
#root {
  height: 100%;
}

.pf-v6-c-page__main,
pf-v6-c-page__main-container.pf-m-fill {
  overflow-y: hidden;
}

.active {
  background-color: var(--pf-t--global--background--color--primary--default);
}

.assistant-selector-menu {
  max-width: 60vw;
  max-height: 80vh;
  overflow-y: auto;
}

.compare {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .compare-item:first-of-type {
    border-right: 1px solid rebeccapurple;
  }

  .compare-item {
    flex: 1;

    .pf-chatbot__content {
      padding: 0;
    }
    .pf-chatbot__footer {
      padding: var(--pf-t--global--spacer--sm) 0;
    }
  }
}
